{{ if default true .Site.Params.gallerypage.enable }}
{{ if isset .Site.Data "gallery" }}
{{ if gt (len .Site.Data.gallery) 0 }}
<div class="container" id="gallery">

    <div class="row">

        <div class="heading text-center">
            <h2>{{ .Site.Params.gallerypage.title }}</h2>
        </div>

        <div class="col-md-12">

            <section>                
                <div class="row">
                    {{ range .Site.Data.gallery }}
                        <div class="gitems">
                        <img src="{{ .image }}" style="width:100%" onclick="openModal();currentSlide('{{ .weight }}')" alt="{{.alt}}" class="hover-shadow cursor">
                        <div class="numbertextFront">{{ .title | safeHTML }}</div>
                      </div>
                        {{ end }}
                </div>
                <div id="myModal" class="modal">
                <span class="close cursor" onclick="closeModal()">&times;</span>
                <div class="modal-content">
                    {{ range .Site.Data.gallery }}  
                        <div class="mySlides">                        
                            <img src="{{ .image }}" style="width:100%" alt="{{.alt}}">
                            <div class="numbertext">{{ .title | safeHTML }}</div>
                        </div> 
                    {{ end }}    
                
                    <a class="prev" onclick="plusSlides(-1)">&#10094;</a>
                    <a class="next" onclick="plusSlides(1)">&#10095;</a>                  
                
                </div>
                </div>
                 

            </section>

        </div>


    </div>
    <!-- /.row -->
</div>
{{ end }}
{{ end }}
{{ end }}


<style>
.galleryColum {
    display: flex;
    gap: 10px; 
}
.gitems img {
    border-radius: 5px;
    margin: 0;    
}
.numbertextFront {
    position: absolute;
    display: flex;
    align-items: center;
    justify-content: center;   
    bottom: -40px;
    left: 10px;
    right: 10px;
    font-size: 16px;
    color: #fff;
    background: #000000ab;    
    opacity: 0;
    transition: all 0.5s;
    height: 40px;
    text-transform: uppercase;
}
.gitems:hover .numbertextFront
{
    position: absolute;
    display: flex;
    align-items: center;
    justify-content: center;    
    bottom: 0;
    left: 10px;
    right: 10px;
    font-size: 16px;
    color: #fff;
    background: #000000ab;    
    opacity: 1;
    z-index: 0;  
    height: 40px;
    text-transform: uppercase;
}
.gitems {
    width: 25%;
    float: left;
    position: relative;
    min-height: 1px;
    padding-right: 10px;
    padding-left: 10px;
    margin-bottom: 20px;
    overflow: hidden;
        text-transform: uppercase;
}
/* The Modal (background) */
.modal {
  display: none;
  position: fixed;
  z-index: 1;
  padding-top: 100px;
  left: 0;
  top: 0;
  width: 100%;
  height: 100%;
  overflow: auto;
  background-color: black;
}

/* Modal Content */
.modal-content {
  position: relative;
  background-color: #fefefe;
  margin: auto;
  padding: 0;
  width: 90%;
  max-width: 700px;
}

/* The Close Button */
.close {
  color: white;
  position: absolute;
  top: 100px;
  right: 40px;
  font-size: 50px;
  font-weight: bold;
}

.close:hover,
.close:focus {
  color: #999;
  text-decoration: none;
  cursor: pointer;
}

.mySlides {
  display: none;
}

.cursor {
  cursor: pointer;
}

/* Next & previous buttons */
.prev,
.next {
  cursor: pointer;
  position: absolute;
  top: 50%;
  width: auto;
  padding: 16px;
  margin-top: -50px;
  color: white;
  font-weight: bold;
  font-size: 20px;
  transition: 0.6s ease;
  border-radius: 0 3px 3px 0;
  user-select: none;
  -webkit-user-select: none;
}

/* Position the "next button" to the right */
.next {
  right: 0;
  border-radius: 3px 0 0 3px;
}

/* On hover, add a black background color with a little bit see-through */
.prev:hover,
.next:hover {
  background-color: rgba(0, 0, 0, 0.8);
}

/* Number text (1/3 etc) */
.numbertext {
    color: #f2f2f2;
    font-size: 18px;
    padding: 8px 12px;
    position: absolute;
    bottom: -4px;
    text-transform: uppercase;
    background: #000c;
    width: 100%;
}

img {
  margin-bottom: -4px;
}

.caption-container {
  text-align: center;
  background-color: black;
  padding: 2px 16px;
  color: white;
}

.demo {
  opacity: 0.6;
}

.active,
.demo:hover {
  opacity: 1;
}

img.hover-shadow {
  transition: 0.3s;
}

.hover-shadow:hover {
  box-shadow: 0 4px 8px 0 rgba(0, 0, 0, 0.2), 0 6px 20px 0 rgba(0, 0, 0, 0.19);
}
</style>
<script>
    function openModal() {
      document.getElementById("myModal").style.display = "block";
    }
    
    function closeModal() {
      document.getElementById("myModal").style.display = "none";
    }
    
    var slideIndex = 1;
    showSlides(slideIndex);
    
    function plusSlides(n) {
      showSlides(slideIndex += n);
    }
    
    function currentSlide(n) {
      showSlides(slideIndex = n);
    }
    
    function showSlides(n) {
      var i;
      var slides = document.getElementsByClassName("mySlides");
      var dots = document.getElementsByClassName("demo");
      var captionText = document.getElementById("caption");
      if (n > slides.length) {slideIndex = 1}
      if (n < 1) {slideIndex = slides.length}
      for (i = 0; i < slides.length; i++) {
          slides[i].style.display = "none";
      }
      for (i = 0; i < dots.length; i++) {
          dots[i].className = dots[i].className.replace(" active", "");
      }
      slides[slideIndex-1].style.display = "block";
      dots[slideIndex-1].className += " active";
      captionText.innerHTML = dots[slideIndex-1].alt;
    }
    </script>
